body {
  margin: 0px;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(237, 237, 238);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px gray;
}

.navbar > li {
  display: flex;
  align-items: center;
}

.logo{
  height: 70px;
}
 
.button{
  color: white; 
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.mainButton{
  background-color: #1bb76e;
  box-shadow: 1px 1px green;
}

.secondaryButton{
  background-color: #4d79ca;
  box-shadow: 1px 1px rgb(150, 166, 240); 
}
.buscar{
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
}

.buscar:focus-within{
  border: 1px solid blue;
}

.buscar > input{
  outline: none;
  border: 0px;
}

.breedCardsContainer{
  display: flex;
}
.breedCard{
  margin: 10px;
  background-color: rgb(75, 75, 90);
  box-shadow: 5px 10px 5px gray;
  border-radius: 10px;
}
.breedCard:hover{
  cursor: pointer;
  transform: scale(1.05);
}
.breedTitle{
  color: white;
  font-size: x-large;
  margin: 10px;
}
.contenedorImagen{
  width: 240px;
  height: 350px;
  display: flex;
}
.contenedorImagen > img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
.imageinfo{
  display: flex;
  justify-content: space-around;
}