ul{
  list-style: none;
  padding: 0px;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.logo{
  height: 70px;
}
 
.button{
  color: white; 
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.mainButton{
  background-color: #1bb76e;
  box-shadow: 1px 1px green;
}

.secondaryButton{
  background-color: #4d79ca;
  box-shadow: 1px 1px rgb(150, 166, 240); 
}
.buscar{
  background-color: white;
  border: 1px solid gray;
  padding: 4px;
  border-radius: 8px;
}

.buscar:focus-within{
  border: 1px solid blue;
}

.buscar > input{
  outline: none;
  border: 0px;
}
